<div class="container" style="margin-bottom: 60px;">
    <div class="row">
        <div class="col-md-3 p-2">
            <h4>Step 1</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque debitis et facere ipsa iure iusto, maiores neque officia placeat quae quod, quos ratione rem, repellendus sequi temporibus veniam vitae.
        </div>
        <div class="col-md-3 p-2">
            <h4>Step 2</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque debitis et facere ipsa iure iusto, maiores neque officia placeat quae quod, quos ratione rem, repellendus sequi temporibus veniam vitae.
        </div>
        <div class="col-md-3 p-2">
            <h4>Step 3</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque debitis et facere ipsa iure iusto, maiores neque officia placeat quae quod, quos ratione rem, repellendus sequi temporibus veniam vitae.
        </div>
        <div class="col-md-3 p-2">
            <h4>Step 4</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque debitis et facere ipsa iure iusto, maiores neque officia placeat quae quod, quos ratione rem, repellendus sequi temporibus veniam vitae.
        </div>
    </div>
</div>