<h2 class="display-4 fw-bold mt-5 mb-4">Our Latest Designs
    <a href="/designs" style="padding-left: 20%;">
        <img src="/images/viewMore.png" height="40" width="170" loading="lazy" alt="view more">
    </a>
</h2>

<div class="row row-cols-auto justify-content-center align-items-center d-flex mx-auto py-2 me-3 text-center">
    <% for(i=0; i < design.length; i++){ %>
    <div class="col">
        <div>
            <img src="<%= design[i].image %>"
                 loading="lazy"
                 class="img-thumbnail rounded height shadow-lg"
                 alt="<%= design[i].title %>">
            <div class="card-body">
                <p>
                    <span class="h3"><%= design[i].title %></span> <br>
                    Posted On <%= design[i].datePosted.toLocaleString() %>
                </p>
            </div>
        </div>
    </div>
    <% } %>
</div>