<footer class="bg-light p-4 text-dark">
    <hr>
    <div class="row">
        <div class="col-md-8 p-2">
            <img src="/images/logo.png" loading="lazy" height="40" width="55" alt="logo">
            <p class="fw-bold">Fashion Frenzy</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, commodi deserunt et eum excepturi ipsam nisi nobis quod repellat vero. At, delectus dicta id labore quibusdam rerum tenetur veritatis voluptas.
            </p>
        </div>
        <div class="col-md-2 p-2 text-center">
            <h3>Pages</h3>
            <a href="/" class="nav-link">Home</a>
            <a href="/about" class="nav-link">About</a>
            <a href="/contact" class="nav-link">Contact</a>
            <a href="/blogs" class="nav-link">Blogs</a>
        </div>
        <div class="col-md-2 p-2 text-center">
            <h3>Other</h3>
            <% if(loggedIn){ %>
                <a href="/create" class="nav-link">New Blog</a>
                <a href="/createDesign" class="nav-link">New Design</a>
            <% } else { %>
                <a href="/register" class="nav-link">Sign Up</a>
                <a href="/login" class="nav-link">Login Here</a>
            <% } %>
            <a href="/designs" class="nav-link">All Designs</a>
            <a href="mailto:stephenbrooks714@gmail.com" class="nav-link">Tech Support</a>
        </div>
    </div>
</footer>