<footer class="bg-light p-4 text-dark">
    <hr>
    <div class="row">
        <div class="col-md-8 p-2">
            <img src="/images/logo.png" loading="lazy" height="40" width="55" alt="logo">
            <p class="fw-bold">Fashion Frenzy</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, commodi deserunt et eum excepturi ipsam nisi nobis quod repellat vero. At, delectus dicta id labore quibusdam rerum tenetur veritatis voluptas.
            </p>
        </div>
        <div class="col-md-2 p-2 text-center">
            <h3>Pages</h3>
            <a href="#" class="nav-link">Link</a>
            <a href="#" class="nav-link">Link</a>
            <a href="#" class="nav-link">Link</a>
            <a href="#" class="nav-link">Link</a>
        </div>
        <div class="col-md-2 p-2 text-center">
            <h3>Other</h3>
            <a href="#" class="nav-link">Link</a>
            <a href="#" class="nav-link">Link</a>
            <a href="#" class="nav-link">Link</a>
            <a href="#" class="nav-link">Link</a>
        </div>
    </div>
</footer>