<div class="section" style="margin-bottom: 60px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-3">
                <h1 class="display-4 text-white">About Our Frenzy</h1>
                <p class="lead text-white">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi cum et id inventore laboriosam neque nostrum officiis omnis, quam, recusandae repellendus repudiandae similique sunt temporibus vitae voluptas. Dolorem, vitae?
                </p>
            </div>
            <div class="col-lg-6 p-3">
                <img src="/images/logo.png"
                     class="img-fluid"
                     loading="lazy"
                     alt="img">
            </div>
        </div>
    </div>
</div>