<div class="section" style="margin-bottom: 60px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-3">
                <h1 class="display-4 text-white">Our Catalog</h1>
                <h2 class="text-white">Product Dynamic Searches</h2>
            </div>
            <div class="col-lg-6 p-3">
                <img src="/images/logo.png"
                     class="img-fluid"
                     loading="lazy"
                     alt="img">
            </div>
        </div>
    </div>
</div>