<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-3">
                <h1 class="display-4 text-dark">Fashion Frenzy</h1>
                <p class="lead text-dark"> <i>Fashion Enthusiast</i> <b>John</b> </p>
                <hr class="line-white">
                <p class="intro-text">
                    Fashion Frenzy is an Express.js app that demonstrates the capability with Node & vanilla JavaScript, without the
                    use of React or Angular front-end. This introduces a simple full stack framework for developers, and much lighter files.
                </p>
            </div>
            <div class="col-lg-6 p-3">
                <img src="https://st2.depositphotos.com/1518767/6899/i/950/depositphotos_68995953-stock-photo-fashion-designer-using-digital-tablet.jpg"
                     class="img-fluid rounded-2 shadow-lg"
                     loading="lazy"
                     alt="img">
            </div>
        </div>
    </div>
</div>