<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-3">
                <h1 class="display-4 text-white">Fashion Frenzy</h1>
                <p class="lead text-white"> <i>Fashion Enthusiast</i> <b>John</b> </p>
                <hr class="line-white">
                <p class="intro-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consectetur consequuntur dolor ea et exercitationem explicabo illo laboriosam.
                </p>
            </div>
            <div class="col-lg-6 p-3">
                <img src="https://st2.depositphotos.com/1518767/6899/i/950/depositphotos_68995953-stock-photo-fashion-designer-using-digital-tablet.jpg"
                     class="img-fluid rounded-2 shadow-lg"
                     loading="lazy"
                     alt="img">
            </div>
        </div>
    </div>
</div>