<div class="row justify-content-center align-items-center" style="margin-top: 70px;">
    <div class="col-lg-12">
        <div class="card p-3">
            <h2>Articles</h2>
            <h5>Posted On {DATE}</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, atque ea earum eius exercitationem harum labore nihil nisi nobis numquam porro qui quia quidem sapiente sit suscipit unde, voluptas voluptatibus?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores atque iusto magnam nam natus quidem quisquam reprehenderit! Autem dolore dolores ducimus explicabo ipsam laboriosam magnam mollitia, nulla recusandae saepe! Quae.
                <br>
                <a href="#" class="btn btn-outline-brown rounded mt-3">Go To Source</a>
            </p>
        </div>
    </div>
</div>