<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>

<body class="thankYou">
<!-- Start your project here-->

<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-lg-8">
            <div class="card p-3 text-center" style="opacity: 0.8;">
                <h1>Thank You For Your Message</h1>
                <h3>It has been received, and we will be in touch soon.</h3>
                <a href="/" class="btn btn-outline-brown rounded-pill">GO TO HOME PAGE</a>
            </div>
        </div>
    </div>
</div>

</body>
<%- include('partials/scripts') -%>
</html>